/* Write your CSS here */
.container {
  background-color: #1e293b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Bree Serif';
}
.heading {
  color: #f0bb03;
  font-size: 70px;
}
.para {
  color: white;
  font-size: 35px;
}
.button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Bree Serif';
  height: 35px;
  border-radius: 8px;
}
